/* Terminal */
.terminal {
	background-color: #000;
	color: #fff;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}
.terminal-small {
	margin: 0;
	padding: 5px;
	padding-top: 3px;
}

/* var highlight */
.var-hl {
	background-color: #f2f2f2;
	color: #e51247;
	padding: 3px;
	border-radius: 2px;
}

/* panel */
.panel-libs {
	margin-top: 40px;
}

/* list libs */
.list-libs {

}
.list-libs>li>.header {
	font-weight: bold;
}