body, html {
	width: 100%;
	min-height: 100%;
}
body {
	padding: 40px 20px 0px 20px;
}

li, dt {
	line-height: 25px !important;
}
.page-header>h3 {
	color: #337AB7;
}

/* nav */
.fixed-nav {
	position: fixed;
}
/* subnav */
.subnav-link {
	width: 100%;
	display: block;
}
.subnav-link:hover {
	text-decoration: underline;
	cursor: pointer;
}
.subnav-link:active {
	color: #337AB7;
}
/* Feautre panels */
.feature-panel {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	overflow:hidden;
	margin-bottom: 50px;
}
.feature {
	display: none;
	width: 100%;
	min-height: 100%;
	overflow:hidden;
	margin-top: -30px !important;
}
.feature-active {
	display: block !important;
}

/* Terminal */
.terminal {
	background-color: #000;
	color: #fff;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}
.terminal-small {
	margin: 0;
	padding: 5px;
	padding-top: 3px;
}
.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
/* var highlight */
.var-hl {
	background-color: #f2f2f2;
	color: #e51247;
	padding: 3px;
	border-radius: 2px;
}