// Start your application CSS here.
html {
	background: #000;
}
body {
	background: #fff;
}
html, body {
	overflow:hidden;
	margin: 0;
	padding: 0;
}


.content {
	width: 100%;
	height: 100%;
	overflow: hidden;
}