@mixin floatingEl($width, $float, $display,$height) {
	width: $width;
	float: $float;
	display: $display;
	height: $height;
}

@mixin font($color, $fontSize, $spacing, $textAlign, $margin){
	color: $color;
	font-size: $fontSize;
	letter-spacing: $spacing;
	text-align: $textAlign;
	margin: $margin;
}

@mixin flex(){
	clear: both;
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin box($width, $height) {
	width: $width;
	height: $height;
}

@mixin position($position, $args) {
 	@each $o in top right bottom left {
    	$i: index($args, $o);
    	@if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
      		#{$o}: nth($args, $i + 1);
    	}
  	}
  	position: $position;
}

// Positioning helpers
@mixin absolute($args: '') {
	@include position(absolute, $args);
}

@mixin fixed($args: '') {
	@include position(fixed, $args);
}

@mixin relative($args: '') {
	@include position(relative, $args);
}